body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
}

.loginBackground {
	background: url(images/a.jpg) no-repeat center center fixed; 
  
  background-size: cover;
  min-height: 730px;
  position: relative;

}

.stateHeader {
  background: white;
  height: 70px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;

}

.stateBackground {
	background: url(images/c.jpg) no-repeat center center fixed; 
  
  background-size: cover;
 min-height: 1500px; 
  text-align: center;
  position: relative;

}

.stateTmpl {
  background: white;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
  padding: 10px 0 10px 0;
  border: 1px solid #707070;
}

.stateBox img {
  width: 90%;
}

.stateBox a {
  text-decoration: none;
  font-size: 40px;
  color: black;
  font-family: 'Oswald', sans-serif;
  

      /*text-transform: uppercase;*/
  /*font-weight: bold;*/
}

.stateBoxA {
  margin-bottom: 15px;
}

.parkHeader {
  color: black;

  background: white;

}

.parksContainer {
  background: url(images/b.jpg) no-repeat center center fixed; 
  min-height: 1000px;
  background-size: cover;
  text-align: center;
  position: relative;
  font-family: 'Oswald', sans-serif;
  
}

.parkBox {
  background: white;
  width: 60%;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #707070;
}
.parkBox img {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 90%;
}

.inputBoxes {
  padding: 10px;
  border: solid 1px #fff;
  border-radius: 16px;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;

  
}
.style-5 input[type="text"]:focus,
.style-5 input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;

}
/* directive ish */
footer {
    position: absolute;
    left: 0;
    /*bottom: 0;*/
    top: 98%;
    height: 100px;
    width: 100%;
    color: white;
    background-color: #bdc3c7;
    padding-top: 20px;
   font-family: 'Oswald', sans-serif;
    font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  border: 1px solid white;
}


.addAPark {
  background: white;
  width: 40%;
  border-radius: 20px;
  margin: 40px auto;
  padding-bottom: 20px;
  border: 1px solid #707070;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  

}

select {

font-size: 20px;
 border: 0;
 font-family: 'Oswald', sans-serif;


}

.loginInput {
 font-family: 'Oswald', sans-serif;
font-size: 15px;
border-radius: 5px;
max-width: 100px;  


}



/*.hiddenButton {
    font-family: 'Oswald', sans-serif;

}

.submitBreh {
  font-family: 'Oswald', sans-serif;
  
}*/

.loginSelect {

  border: 2px solid #bdc3c7;

}

.buttonDirective, .submitBreh, .hiddenButton {
    font-family: 'Oswald', sans-serif;

}

.loginHeader {
    font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 100px;  
  /*border: 1px solid white;*/
  position: absolute;
  bottom: 70px;
  right: 110px;
  margin: 0px;
}

.goosfraba {
  background: black;
  position: relative;
  height: 50px;
}

.dropdown {
   margin-left: 20px;
   margin-top: 10px;
   -webkit-appearance: none;
   width: 50px;
   display: inline;
   background: black;
   color: white;
   /*border: 1px solid white;*/
}

.dontSeeStateButton {
  border: none;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  position: relative;
  left: 100px;
  bottom: 22px;
  background: black;
  color: white;
  
}
.loginImg {
  float: right;
  position: relative;
  top: 6px;
  right: 10px;
}
/* pure sauce 

font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft Yahei";


*/