.loginBackground {
	background: url(a.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1500px;
}

.hi {
	font-size: 50px;
}