<div class="parksContainer">
	<div class="parkHeader">
		<h1>{{singlePark.name}}</h1>
		<br>{{singlePark.address}}

	</div>

	<div class="parkBox">
		<div ><img ng-src="{{singlePark.imgUrl}}"></div>

		<div class="inputBoxes">
			<form ng-submit="sendMessageToFirebase(newMessage)">
				<input class="submitBreh" type="text" placeholder="comment..." ng-model="newMessage.message">
				<input class="submitBreh" type="text" placeholder="Username..." ng-model="newMessage.user">
				<button class="submitBreh">SubmitBrehh</button>

			</form>
		</div>



		<p ng-repeat="parkMessage in parkMessages">{{parkMessage.message}}
			<br> --{{parkMessage.user}}--

		</p>


	</div>
	<pre>
		
		
		
		
		
	
	</pre>
		<footer-dir></footer-dir>

</div>