<div class="stateBackground">
	<div class="stateHeader">
		<h1>{{stateName.name}}</h1>
	</div>
	
	

	<div class="stateTmpl" ng-repeat="park in stateParks">


		<div class="stateBox">
			<div class="stateBoxA">
				<a href="#/parks/{{thisState}}/{{park.$id}}">{{park.name}}</a>
				<br>
			</div>
			<img ng-src="{{park.imgUrl}}">
			<br>
			<div>
				 address: {{park.address}}</div>
		</div>

	</div>
	<div>
		<add-park-dir></add-park-dir>
		<footer-dir></footer-dir>
	</div>
	
	

</div>




<!--------------------------------------------------------------------- -->