<div class="stateBackground">
<div>{{stateName.name}}</div>
	<div class="stateTmpl" ng-repeat="park in stateParks">


		<div class="stateBox">
			<div class="stateBoxA">
				<a href="#/parks/{{thisState}}/{{park.$id}}">{{park.name}}</a>
				<br>
			</div>
			<img ng-src="{{park.pic}}">
			<br>
			<div>
				 address: {{park.address}}</div>
		</div>

	</div>
	<div>
		<add-park-dir></add-park-dir>
	</div>
	<footer-dir></footer-dir>

</div>


<!--------------------------------------------------------------------- -->